<html>
  <head>
    <title>-</title>
  </head>
  <body>
    <form id="form-transbank" method="post" action="{{.urloneclick}}">
      <input type="hidden" name="TBK_TOKEN" value="{{.token}}" />
    </form>
    <script>
      function ready(callbackFunc) {
        if (document.readyState !== "loading") {
          // Document is already ready, call the callback directly
          callbackFunc();
        } else if (document.addEventListener) {
          // All modern browsers to register DOMContentLoaded
          document.addEventListener("DOMContentLoaded", callbackFunc);
        } else {
          // Old IE browsers
          document.attachEvent("onreadystatechange", function () {
            if (document.readyState === "complete") {
              callbackFunc();
            }
          });
        }
      }

      ready(function () {
        document.getElementById("form-transbank").submit();
      });
    </script>
  </body>
</html>
