<!-- file: ./views/hello.html -->
<html>
  <head>
    <title>Bienvenido al ejemplo OneClick</title>
  </head>
  <body>
    <h1>Bienvenido al ejemplo OneClick</h1>

    <ul>
      <li><a href="/inscription/init">Crear una inscripción</a></li>
      <li><a href="/inscription/delete">Eliminar una inscripción</a></li>

      <li><a href="/transaction/authorize">Autorizar un pago</a></li>
      <li><a href="/transaction/status">Consultar el estado de un pago</a></li>
      <li><a href="/transaction/refund">Reversar o anular un pago</a></li>
    </ul>
  </body>
</html>
