<!-- file: ./views/hello.html -->
<html>
  <head>
    <title>Bienvenido al ejemplo OneClick</title>
  </head>
  <body>
    <h1>Resultado de la reversa o anulación</h1>

    <p>Type : {{.response.Type}}</p>
    <p>AuthorizationCode : {{.response.AuthorizationCode}}</p>
    <p>AuthorizationDate : {{.response.AuthorizationDate}}</p>
    <p>NullifiedAmount : {{.response.NullifiedAmount}}</p>
    <p>Balance : {{.response.Balance}}</p>
    <p>ResponseCode : {{.response.ResponseCode}}</p>
  </body>
</html>
